.card {
  margin-bottom: 2em;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 0px 3px 0px #bbb,
      0px 4px 0px #b9b9b9, 0px 6px 0px rgba(0, 0, 0, 0.1),
      0px 1px 0px rgba(0, 0, 0, 0.3), 0px 3px 0px rgba(0, 0, 0, 0.2),
      0px 5px 0px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.1),
      0 8px 7px rgba(0, 0, 0, 0.1), 0 9px 9px rgba(0, 0, 0, 0.1),
      0 10px 10px rgba(0, 0, 0, 0.15), 0 15px 15px rgba(0, 0, 0, 0.16);
  }

  .image {
    img {
      height: 180px;
      object-fit: fill;
      object-position: center;
      width: 100%;
    }
  }
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  p {
	margin: 0px;
  }
  font-weight: normal;
}

.index-anchor {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}